@import "partials/header";
@import "partials/footer";
@import "partials/article";
@import "partials/buttons";
@import "partials/main";

@import "partials/variables";
@import "partials/fonts";

@media(max-width: 768px){
  @import "partials/mobile";
}
@media(min-width: 769px){
  @import "partials/computers";
}

body{
  font-family: 'Roboto', sans-serif;
  color: $main_black;

  margin: 0 auto;
  position: relative;

  display: flex;
  flex-wrap: wrap;

  a{
    color: $main_black;
    text-decoration: underline;

    &:hover{
      color: wheat;
    }
  }

  p{
    font-weight: 600;
  }
}