@import "variables";
@import "fonts";

body{
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: $main_black;

  display: flex;
  flex-wrap: wrap;
  position: relative;

  header, footer{
    width: 100vw;
    background-color: $main_white;
    padding: $base_padding;
    display: flex;
    flex-direction: row;
    z-index: 2;
  }

  header{
    height: 12vh;
    position: sticky;
    top: 0;
    left: 0;


    justify-content: start;
    align-items: center;
  }

  footer{
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    opacity: 0.75;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    hr{
      width: 44%;
      border: none;
      height: 1px;
      color: $main_black;
      background-color: $main_black;
    }

    .footer-content{
      text-align: center;
      width: 300px;
    }
  }

  a{
    color: $main_black;
    text-decoration: underline;

    &:hover{
      color: wheat;
    }
  }

  main{
    width: 100vw;
    height: 186vh;

    display: flex;
    flex-wrap: wrap;
  }

  article{
    width: 100vw;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .nick_name{
      font-size: $sub_padding;
    }
  }

  @media (min-width: 800px){
    min-height: calc(12vh + 112vh);

    .poly-container{
      width: 100vw;
      height: 112vh;
      display: flex;
      flex-wrap: wrap;
    }

    aside{
      width: 50%;
      height: 100%;
      background-color: $color5;
      padding: $sub_padding;
      box-sizing: border-box;
    }

    .aside-left{
      clip-path: polygon(0 0, 70% 0%, 100% 25%, 100% 85%, 70% 100%, 0 100%, 0% 70%, 0 20%);
      padding-top: 12vh;
    }

    .aside-right{
      clip-path: polygon(100% 0, 30% 0, 0 25%, 0 85%, 30% 100%, 100% 100%, 100% 70%, 100% 20%);
      padding-top: 20rem;
    }
  }
}