<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ .Title }}</title>

    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | css.Sass | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="icon" type="image/x-icon" href="{{ .Params.heart }}">

</head>
<body>

{{ partial "header.html" . }}

<main>

    {{ block "main" . }}{{ end }}

</main>

{{ partial "footer.html" . }}

<script src="/js/main.js"></script>
</body>
</html>
