@import "variables";

.poly-container{
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

aside{
  width: 50%;
  height: 100%;
  background-color: $color5;
  box-sizing: border-box;
}

.aside-left{
  clip-path: polygon(0 0, 70% 0%, 100% 15vh, 100% 85%, 70% 100%, 0 100%, 0% 70%, 0 20%);
  padding: 12vh $sub_padding 12vh $sub_padding;
}

#content{
  text-align: justify;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

.aside-right{
  clip-path: polygon(100% 0, 30% 0, 0 15vh, 0 85%, 30% 100%, 100% 100%, 100% 70%, 100% 20%);

  #burning_ship{
    width: 100%;
    height: 15vh;
    object-fit: cover;
    object-position: top right;
    opacity: 0.92;
  }
}