@import "variables";

footer{
  width: 100vw;
  background-color: $main_white;
  padding: $base_padding;
  display: flex;
  flex-direction: row;
  z-index: 2;

  height: 8vh;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  opacity: 0.75;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  hr{
    width: 44%;
    border: none;
    height: 1px;
    color: $main_black;
    background-color: $main_black;
  }

  .footer-content{
    text-align: center;
    width: 300px;
  }
}