@import "variables";

footer{
  width: 100vw;
  height: 8vh;

  background-color: $main_white;
  padding: $base_padding;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;


  z-index: 2;
  opacity: 0.75;

  margin-top: -8vh;

  hr{
    width: 44%;
    border: none;
    height: 1px;
    color: $main_black;
    background-color: $main_black;
  }

  .footer-content{
    text-align: center;
    width: 300px;
  }
}