@import "variables";

header {
  width: 100vw;
  min-height: 10vh;
  height: auto;
  background-color: $main_white;
  opacity: 0.55;
  padding: 1rem 2rem 1rem 2rem;

  display: flex;
  flex-direction: row;

  z-index: 2;

  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.right-header {
  width: auto;
  height: auto;
  opacity: 1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;

  button{
    z-index: 2;
  }

  .subtitle{
    width: auto;
    height: 0;
    font-size: 1rem;

    margin: -40px auto;
    opacity: 0;

    padding: 1rem;
    border-radius: 20px;
    background-color: $main_black;
    color: $main_white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: margin-top 0.6s ease-in-out, opacity 0.7s ease-in-out;
  }

  #sub1{
    grid-column: 1;
  }

  #sub2{
    grid-column: 2;
  }

  #sub3{
    grid-column: 3;
  }
}