@import "variables";

header {
  width: 100vw;
  height: 10vh;
  background-color: $main_white;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  z-index: 2;

  /*
  position: sticky;
  top: 0;
  left: 0;
   */

  justify-content: space-between;
  align-items: center;

  .right-header {
    width: auto;
    height: 80%;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
  }
}